body {
    background-image: url('media/texture_arriere_page.svg');
    background-size:cover;
    background-repeat:no-repeat;
}

nav{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto auto;
    margin:20px;
    padding: 0px 2vw;
    gap: 50px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 130vh;
}

h1 {
    font-size: 150px;
    font-family: 'Montserrat';
    font-weight: 200;
    color: #6C6C6C;
}

h2 {
    font-size: 75px;
    font-family: 'Montserrat';
    font-weight: 100;
    color: #6C6C6C;
}

p {
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 100;
    color: #6C6C6C;
}

.scroll {
    height: 40vh;
    align-items: flex-start;
}